[2019-02-13 15:29] jthomasmock opened #1 "Small changes + additions"
Hi Ellis,

First off this is **amazing**!

The additions that @edgararuiz and @jonthegeek and I were discussing were related to defaults and a more intuitive data-selection system.

### Defaults

If you call `tt_load` without an input, we were planning on it defaulting to the current week. This would require some re-factoring to either math internal to the package with Sys.Date, or the like, OR qu

[2019-02-13 15:43] thebioengineer commented on #1
Thanks for the feedback @jthomasmock, I was planning on having all those features and was thinking on a way to implement them. Please loop them in, would love to hear their feedback as well!

[2019-02-14 04:21] thebioengineer commented on #1
hey @jthomasmock, upon thinking on this a little more, I am not so sure having a default value for tt_load is a good idea - this would keep the user from having to specify which week they want to use and if they ever go back to their code they could have issues with their code being reproducible.

I have implemented your suggestion of adding the year-week args.

In addition, I have now more inform

[2019-02-15 19:29] thebioengineer opened #2 "Object or Environment"
write read-in tt datasets to environment?
+ Currently only has method to download everything and save in a tt_data object, accessed through `$`
+ Could make new function that
    1. writes to a README object for custom printing (not bad idea to implement anyway)
    2. writes datasets to global env?

Potential conflict in overwriting current envir objects?

[2019-02-18 15:39] jthomasmock commented on #1
Hi sorry for the delay here - I was thinking you could scrape the readme for 2019 or 2018. These are static for 2018 and 2019 for now and I will be adding to them as part of my workflow.

They could be used as a way for users to explore the week number + date for datasets of interest.

[code]

And the static url for 2019.
[code]

[2019-02-18 15:57] jthomasmock commented on #1
Just installed the `github` version of package, works great!

I'm not well versed in package development - but I had to upgrade all of the `imports` to most recent version - it actually failed the first time and I had to reinstall all of the `tidyverse` then do a reinstall of this package.

Is there a way to make it work with older versions of packages as many people will likely not have the most

[2019-02-18 16:48] thebioengineer commented on #1
So are you thinking that there would be a function like 'tt_weeks' or something to print the readme's into the console?

[2019-02-18 16:50] thebioengineer commented on #1
As for the intall requiring the most recent versions of the imports - interesting. I will look into that later today. I don't think you needed the most recent version of tidyverse for the package to work. Happy to get feedback from others if you want to solicit it to find out what Ive been doing wrong!

[2019-02-18 17:01] jthomasmock commented on #1
re: tt_weeks - not a necessity - just thinking of something either for users to reference without having to download all the data.

Could be along the lines of the display a readme-esque table in the viewer - as you have shown with `tt_load()` but instead of displaying the whole readme, just parse the table from 2019 or 2018 and show that either as console output or potentially in the Viewer.

Jus

[2019-02-18 17:37] jon-harmon-macmillan commented on #1
You can specify a specific (minimum) version number in Depends. I usually use whatever version I have, since I don't know for SURE that it'll work with lower numbers... But for this one, we should probably test with older versions and set the depends appropriately.

[2019-02-18 19:16] thebioengineer commented on #1
I am using "imports" not "depends", as apparently that is a safer mechanism. @jon-harmon-macmillan , that is a good idea and will do that until I am informed otherwise 🤣

@jthomasmock - I will think on a good way to do that. Maybe if it is left empty put out a warning and the most recent date/week number?

[2019-02-18 22:43] thebioengineer commented on #1
@jthomasmock - try with the dev branch now. If tt_load is left blank (tt_load()), an error says that the year/week or date needs to be provided, and in the viewer all the datasets are listed

[2019-02-18 23:28] jthomasmock commented on #1
Super slick! Love the Dataset Week and Date popping up

I'm going to move some of the issues to separate ones. I'm happy with the state of the `tt_load()`!

I ended up updating my whole R install 🙃 just to get make sure I'm good to go down the road, hello eggshell igloo!

[2019-02-18 23:29] jthomasmock opened #5 "Versioning Suggests/Dependencies"
I needed to install all the dependencies to most recent version to install the package:

I assume that vast majority of newer TidyTuesday people are not using the most recent version of all the packages, so it might be a good idea to either set the minimum back a few versions or otherwise improve that situation.

[2019-02-18 23:45] thebioengineer commented on #1
Also, there are tt_datasets(year) and tt_available() to print the datasets. Could you add a readme to the 2019 folder like it is in 2018 in the tidytuesday repo? It would help a lot!

[2019-02-18 23:49] thebioengineer commented on #5
Is this the prompt from devtools::install_github? You don't need to do that, just make sure you are at the same version that the package requests

[2019-02-19 00:18] #1 closed

[2019-02-19 00:19] thebioengineer commented on #1
I think we covered most of the original issue now, and can break it out into smaller sets of issues if necessary

[2019-02-19 00:46] jonthegeek opened #6 "Determine required version of dplyr"
As a tidytuesdayR user, I'd like to use the package even if I can't update dplyr, so that I can learn to tidy data when I can't update things.

[2019-02-19 00:47] jonthegeek opened #7 "Determine required version of readxl"
As a tidytuesdayR user, I'd like to use the package even if I can't update readxl, so that I can learn to tidy data when I can't update things.

[2019-02-19 00:48] jonthegeek opened #8 "Determine required version of rvest"
As a tidytuesdayR user, I'd like to use the package even if I can't update rvest, so that I can learn to tidy data when I can't update things.

[2019-02-19 01:11] jonthegeek commented on #5
I started to write each of these as a separate issue, but that might be taking it too far. I'm not sure what it takes to install old versions of packages, but I know it's possible, and I think it's worth doing for this one.

[2019-02-19 01:20] thebioengineer commented on #5
Thinking back on this, I think we can probably not have versions on those packages that you specified, as the functionality I am using are core to the packages and thus not really necessary.

[2019-02-19 01:27] thebioengineer commented on #6
same issue as #5
I can likely remove version issue

[2019-02-19 01:40] thebioengineer commented on #5
@jonthegeek try installing from the dev branch and see if that works for you

[2019-02-19 01:56] jonthegeek commented on #5
It isn't that I'm having trouble installing; it's that, since this is a package aimed largely at R beginners, I think it'd be good for us to figure out and specify the actual minimum version needed, so install.packages will update those packages if and only if they need to be updated.

[2019-02-21 23:23] jthomasmock commented on #5
I think this could be helpful and solve the issue:

    ggvis (>= 0.2),
    dplyr (>= 0.3.0.1)
Suggests:
    MASS (>= 7.3.0)

Could also do` '#@importFrom` if you only need a small function from one of the big packages

[2019-02-21 23:34] jonthegeek commented on #5
Yeah, we still need to mention it in Imports even if w use importFrom. What I'm looking to sort out is the *minimum* version of each that we actually require, to minimize pain for users.

[2019-02-21 23:38] thebioengineer commented on #5
Do you know of a method of 'back-porting' essentially to go back and check? or is it manual?

From what I am understanding is that we want to ensure that the users will be able to install this package, and just have it work?

[2019-02-21 23:43] jonthegeek commented on #5
@thebioengineer I'm not sure, but I'm PRETTY sure that's possible. I'm hoping to invest some time in learning how to do that this weekend. I never bother for my packages at work, because it's easy enough for us all to just update to the latest... but it seems worthwhile to me to make this as painless as it possibly can be.

[2019-02-21 23:47] thebioengineer commented on #5
@jonthegeek I thought by not enforcing a version of the package, it would just check that the package is installed, and not force an update? The install_github is the one that checks for updates and offers to update, but if I can get this onto the cran, it won't do that.

I am also in the same boat- used to internal uses where updating wasn't a big deal nor did I care if I forced a coworker to upd

[2019-02-22 00:00] jonthegeek commented on #5
@thebioengineer I think technically we COULD just leave the version off... but, in the case where an old version doesn't work, we *do* want to force them to update (so they aren't confused why it doesn't work). It's probably overboard, but I just want to make sure everything is perfect :)

[2019-02-22 00:29] thebioengineer commented on #5
Ahhh, now I understand your goals better. 🎉 🎉 🎉

I am relatively certain that most of the uses of the packages I reference are core to their functionality and thus should "just work", but that is reasonable to take a look back and see if it is true

[2019-02-22 05:03] thebioengineer commented on #5
@jonthegeek take a look at the dev branch, I just pushed an update with the minimum package version for several packages based on when the specific function appeared in a package or when specific functionality appeared.

[2019-02-22 13:25] jonthegeek commented on #5
@thebioengineer Fantastic work! I'm hoping to devote at least a couple hours to this package tomorrow. I'll see if I can set up a test install of R with all of the minimums so we can make sure it keeps working!

[2019-02-23 17:06] jonthegeek commented on #5
I'm working on this now... and RStudio put up a handy guide to doing pretty much exactly this three days ago! Woot! https://support.rstudio.com/hc/en-us/articles/219949047-Installing-older-versions-of-packages

[2019-02-23 17:08] jthomasmock commented on #5
Also keep pak in mind - you can temp install versions.

https://github.com/r-lib/pak/blob/master/README.md

[2019-02-23 17:37] jonthegeek commented on #5
Ya know... it also might be possible to set this up via Travis, and just have it run checks on an old machine. I haven't played with Travis at all, but it looks like @thebioengineer has. Do you think this might be something to check out there? I'm thinking maybe something something config variables in the travis yaml with older versions, and we just step those versions back until it fails?

[2019-02-23 17:53] thebioengineer commented on #5
@jonthegeek I can look into it, but im pretty sure there is. As I understand it travis is just spinning up docker containers. Admittedly my experience is just figuring out how to make it work and not much more 🤣

[2019-02-23 18:07] thebioengineer commented on #8
closed, related to #5

[2019-02-23 18:07] #8 closed

[2019-02-23 18:07] thebioengineer commented on #7
closed, related to #5

[2019-02-23 18:07] #7 closed

[2019-02-23 18:07] thebioengineer commented on #6
clsoed, related to #8

[2019-02-23 18:07] #6 closed

[2019-02-23 19:09] thebioengineer commented on #5
@jonthegeek just pushed an updated .travis.yml that hopefully will do what we are looking for

[2019-02-23 19:20] jonthegeek commented on #5
Awesome!

I'm going through the package and applying some tidyverse-inspired styling rules (and using it to get a general feel for the code). Hopefully I'll have another PR tonight.

[2019-02-23 19:30] thebioengineer commented on #5
@jonthegeek Thanks! I try to keep the development work on the 'dev' branch, if you could push to that one going forward. Once it passes CI, I push to the master

[2019-02-23 19:32] jonthegeek commented on #5
Will do!

[2019-02-23 19:38] thebioengineer opened #13 "Make travis CI use old package versions"
Testing how far back versions of packages should be to allow for smooth use

[2019-02-23 22:07] #13 closed

[2019-02-25 02:37] jonthegeek commented on #5
I think we can call this good enough for now at least. I'm gonna try to finish up my cleanup, and then get the test coverage as close to 100% as we can... And then I MIGHT put a package together to test minimum package versions; I have an idea of how to make it work, and it doesn't look like such a thing exists.

[2019-02-25 04:50] thebioengineer commented on #5
Great, let me know when you are ready. Most of the loss of code coverage is due to the lack of testing the rstudio viewer html pages that I am generating from the readme.

Also it does sound like a minimum package version finder would be of value - I am interested to see what you come up with

[2019-02-27 05:31] thebioengineer commented on #5
@jonthegeek Do you have any updates to be merge? I was thinking of merging the dev branch with the master since it has some fixes for reading xls/xlsx files that is somewhat crucial ( Hadn't realized that readxl doesn't implement URL reading yet when i put it in)

[2019-02-27 12:02] jonthegeek commented on #5
@thebioengineer go ahead and merge. I'll get caught up soon. This was a crazy weekend, so I didn't get as much done as I'd have liked.

[2019-02-27 17:28] #5 closed

[2019-02-27 19:04] thebioengineer opened #16 "Tidying up"
@jonthegeek - opening a new issue about tidying up the interface/documentation/code

Let me know if there is something you would like to see

[2019-02-28 21:29] thebioengineer opened #17 "Past Examples?"
@jthomasmock - do you think a good idea would be to put together some example vignettes of work people have done in the past? (with their permission/asking for pull requests to include in an "examples" file)

[2019-04-07 21:29] thebioengineer commented on #16
resolved with #18

[2019-04-07 21:29] #16 closed

[2019-04-07 21:29] thebioengineer opened #19 "No Data"
Add handlers for cases when the data does not exist within the repo

[2019-04-24 18:54] k8hertweck opened #20 "Data from The Economist figures can't load?"
This dataset: https://github.com/rfordatascience/tidytuesday/tree/master/data/2019/2019-04-16

[2019-04-24 19:04] thebioengineer commented on #20
Could you post your error?

[2019-04-24 20:01] k8hertweck commented on #20
Ah, I suppose that would help. I just tried again and they do load, but with the following warning:

[code]

[2019-10-16 19:31] thebioengineer commented on #2
decided not valuable feature

[2019-10-16 19:31] #2 closed

[2019-10-16 19:32] thebioengineer commented on #17
This package should be for facilitating the current weeks data, and not retrospective. Plus containing the samples are not necessary

[2019-10-16 19:32] #17 closed

[2019-11-07 19:30] thebioengineer commented on #20
resolved with pull request #28

[2019-11-07 19:30] #20 closed

[2019-11-08 06:06] chuckleong21 opened #29 "dplyr verb approach: A blueprint for tidytuesdayR"
Very excited to get to know this package! I have a few ideas about improving its functionality upon the completion of my very own `tidy_tuesday()` (doing what this package does):

**`tt_open()`**: initiate a **`tt`** object given week or date specifications.

Once a `tt` object has been initialized, users may apply the following actions:

**`tt_browse()`**: browse the specified git repo webpage.

[2019-11-08 17:17] thebioengineer commented on #29
Thanks for the ideas @chuckleong21 ! I am formulating some thoughts, and will drop them here as I complete of them.

## Current State
My goal of {tidytuesdayR} is to lower the barrier for accessing the data made available by @jthomasmock and the team over at R4DS.

First it has been making the user-side workhorse of a function function we have right now - `tt_load()`. Making it so It Just Works<su

[2019-11-09 04:41] chuckleong21 commented on #29
It is true `tt_load()` does most of the work for the goal of this package. However, the setup of `tt_open()` takes a page out of the book of `parsnip` and `recipes` - a blueprint.

Instead of retriving all objects using GET method at once from `tt_load()`. The process could be broken down into pieces:
- `tt_open()`s a `<tt session>`:

[code]
- `tt_load()` then reads data / downloads file given met

[2019-11-11 00:40] thebioengineer commented on #29
The most recent version of the package (0.2.1) should be able to handle rds and rda files. I had just added that feature earlier this week.
[code]

<sup>Created on 2019-11-10 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

You are correct in that that the `tt` object needs a print method so it doesn't print out that wall of html text as you saw and behaves more similarly to t

[2019-11-11 01:36] thebioengineer opened #30 "Print method for `tt_gh` object"
Currently no print method for the `tt_gh` object. Should print out readme and the available datasets.

[2019-11-11 01:39] thebioengineer commented on #30
This issue was brought up by @chuckleong21 in issue #29 when pointed that his `tt_open()` proposal exists as `tt_load_gh()`. Originally was generating a `tt_gh` object, decided to rename to `tt`, and prints out the available datasets that can then be downloaded by `tt_read_data()` function.

[2019-11-11 03:32] #30 closed

[2019-11-12 21:31] thebioengineer opened #34 "Ignore pictures?"
Issue with still seeing pictures as potential files to read. IE. [2019-04-09](
https://github.com/rfordatascience/tidytuesday/tree/master/data/2019/2019-04-09)

[2019-11-12 21:56] thebioengineer commented on #34
Bigger issue of not ignoring "readable" files. Resolving in hotfix

[2019-11-12 23:03] thebioengineer commented on #34
resolved with pull #35

[2019-11-12 23:03] #34 closed

[2019-11-19 06:47] chuckleong21 commented on #29
Finally, I have some time to again look at this issue.
`tt_summary()` sounds good and more explicit than assigning a tt method to `summary()`. Do give a thought to my blueprint proposal to print out tt_summary().

By the way, does `tt_load()` works swiftly for you? It always takes a (sometimes two) while to successfully load in the data. I don't think `readr::read_csv()` is causing the problem her

[2019-12-07 17:54] thebioengineer commented on #29
Hey @chuckleong21, It is my turn to say finally I have some time to look at this issue 😆

If you want to take a look at making that print method for the `tt` object and submit a pull request I can review it and we can start a conversation around that.

As for `tt_load()` taking a moment, it is because it has a number of https requests to generate the object. First it validates the date/week you su

[2019-12-18 04:49] robertwwalker opened #37 "dog_descriptions are unparsed .csv"
The packaged version of this dataset [dog_descriptions] reads, at least for me, as 220139 observations of 1 variable with rownames listed and separated by commas. It is the unparsed .csv. I suspect this will vex somewhat inexperienced users trying this workflow; directly reading the .csv from github solves it.

[2019-12-18 06:13] thebioengineer commented on #37
Thanks for @robertwwalker - The issue is the function I have identifying the parser to use isn't handling the multi-line entries for the descriptions. I'll see what I can do about that!

[2019-12-19 05:12] thebioengineer commented on #37
@robertwwalker Try the latest install now. it should be working now!

[2019-12-20 16:55] robertwwalker commented on #37
Weirdly, that seems to have corrupted the database

![image](https://user-images.githubusercontent.com/22829624/71270461-7bae0700-2306-11ea-9933-23567f48c928.png)

[2019-12-20 17:00] thebioengineer commented on #37
That is strange! It passed all my tests and I tested installs on a few computers.

Try closing out all your R sessions and reinstalling. That is typically when I get those errors - it is due to another R session having loaded the package.

[2019-12-20 17:07] robertwwalker commented on #37
It was some combination of that and/or vctrs across two environments.  Both now work like a charm.  Thanks much for this; it is very cool to do this to assist people in picking up the tidytuesday!

[2019-12-20 17:14] #37 closed

[2019-12-20 21:43] thebioengineer opened #39 "TidyTemplate"
## TidyTemplates

Provide a template that can be used with `new Rmd` to create the framework for data analysis/visualization.
## Motivation:
Some people that are new to R might not be sure where to start. IE: https://twitter.com/scottjdavies01/status/1198923622993166336

If we can provide them with a good recipe for starting, we can promote confidence and get people excited about their first analy

[2020-01-07 02:09] randy-tarnowski opened #40 "TidyTuesday has only existed from 2018 to 2019"
Unable to load most recent dataset for TidyTuesday.
`
tuesdata <- tidytuesdayR::tt_load('2020-01-07')
`

[2020-01-07 03:08] thebioengineer commented on #40
Thanks for the submission. I was wondering and hadn't had a chance to check. It should be resolved now.

This shows I need to look into using the underlying github API rather than the website.

[2020-01-07 16:50] randy-tarnowski commented on #40
Awesome! Additionally, the package is misaligned with the TidyTuesday week count (e.g. Australia Fires is listed as week 2, but forced to request week 1 in the function (tuesdata <- tidytuesdayR::tt_load(2020, week = 1))

[2020-01-07 16:51] thebioengineer commented on #40
Yes, I am working on correcting that now too. It is due to there only being a single file in the 2020 data folder at the moment

[2020-01-16 18:41] thebioengineer commented on #40
I believe this issue has been resolved. Thanks for your submission!

[2020-01-16 18:41] #40 closed

[2020-01-20 22:46] jonthegeek opened #42 "Download by week failing for 2020"
``

Error in tt_make_url.year(x, week) :
  Only 2 TidyTuesday Weeks exist in 2020. Please enter a value for week between 1 and 2
[code]

[2020-01-20 23:25] thebioengineer commented on #42
Interesting. Thanks!

[2020-01-20 23:30] thebioengineer commented on #42
The issue has to do with relying on the readme in the data/2020 folder not being updated. I am submitting a PR to @jthomasmock now

[2020-01-20 23:51] thebioengineer commented on #42
pull request is open: https://github.com/rfordatascience/tidytuesday/pull/166

[2020-01-21 16:48] thebioengineer commented on #42
Should be resolved now. Let me know if it isn't and we can reopen this!

[2020-01-21 16:48] #42 closed

[2020-04-23 03:05] thebioengineer opened #44 "Week 17 of 2020"
Does not download all the data available...porquah...

[2020-04-23 03:12] thebioengineer commented on #44
It saw the first "code" section, which was an inline pre with the file name and got lost. Need to figure out how to truncate to "get the data" or other format then clearly...

[2020-04-23 15:11] thebioengineer commented on #44
in pr #43 to dev, this is corrected. I want to do more tests to ensure this works for all the weeks. Much simpler code now.

[2020-05-05 21:27] jthomasmock opened #46 "Moving reusable tidytuesdaymeta"
Ideas for some functions to pull in:
https://github.com/jthomasmock/tidytuesdaymeta/tree/master/R

- Create a folder by week
- `usethis` for template
- Week num
- Tuesday dates

[2020-05-05 21:28] #44 closed

[2020-05-05 21:30] jthomasmock opened #47 "JSON in progress"
Creating a JSON master file for:
- Nested by year
  - Nested by week
    - Named vector or 1x3 data.frame
      - File name
      - File + extension
      - delim

Will go into "Static" folder

[2020-05-06 15:54] jthomasmock commented on #47
So I realized there's not MUCH of a reason to make this json.

I was able to output pretty quickly the files to a .csv or JSON file - there's some more manual stuff I'll need to do to parse the readme files that you were doing before.

Moving forward I can just add these weekly, but for the initial release I'll have to do much more spotchecking.

[CSV](https://github.com/rfordatascience/tidytuesda

[2020-05-07 04:37] thebioengineer commented on #47
Awesome! Thanks. The reason I was thinking JSON was that it is not limited to rectangular format that a CSV would enforce, and so that I could set it up to quickly work down the tree year -> date -> file -> file details. But it seems like we would want the same information for everything, so a csv might be better! Reading a csv is faster than a JSON, and easier to track through github by appending

[2020-05-16 04:17] thebioengineer commented on #47
Hey @jthomasmock, I'm realizing your definition for "week" would also be hugely helpful. (partly due to the week1 of 2020 being in 2019

[2020-05-18 14:59] thebioengineer commented on #47
@jthomasmock - made lots of updates to attempt to simplify the api. One thing is that if we use the actual github API (api.github.com), we need to use exact names, including capitalization.

A few of the readme's are not consistent with capitalization. Can we be consistent with either `README.md` or `readme.md`?

[2020-05-26 01:35] thebioengineer commented on #47
with the current merge to master (#51), this should be addressed and I will close this out.

[2020-05-26 01:35] #47 closed

[2020-05-26 20:19] #19 closed

[2020-05-26 20:35] #29 closed

[2020-06-08 14:11] thebioengineer opened #55 "V1.0.0 CRAN submission feedback"
- [x] Please always write non-English usage, package names, software names and API names in *undirected* single quotes in title and description in the DESCRIPTION file.

- [x] Please only capitalize names, sentence beginnings andabbreviations/acronyms in the description text of your DESCRIPTION file.

- [x] Please add () behind all function names in the description text in the DESCRIPTION file. Pl

[2020-06-10 00:51] thebioengineer commented on #55
@jonthegeek @jthomasmock - pushed my updates to the CRAN-edits-v1 branch and doing the requisite checks on rhub. win-devel, etc.

If you wouldn't mind giving a quick look to see if you agree that I've met the CRAN feedback, that would be great!

[2020-06-17 12:07] thebioengineer commented on #55
Issues with 'calibre' detritus begin generated on CRANs build servers is causing failure. Requested this note to be ignored. Response:

This are files genereted if you start some web browser.
So the files are not directly your fault, but it shows yet another
problem: You should not start a web browser in  non interactive mode, so
please protect such examples by

if(interactive())

[2020-06-24 15:27] thebioengineer commented on #55
Additional feedback:

- [ ] If GitHub is not available vor any reason, your functions should return a message and not result in an error.

- [x] Examples in \donttest are not executed in our checks. Hence, using \donttest should be sufficient.

[2020-06-24 15:48] jonthegeek commented on #55
Weird. I'd far prefer an error when the function, ya know, fails to do what it's supposed to do. I've seen (and fought against) this pattern elsewhere before, but I guess do what they say.

[2020-06-24 22:34] thebioengineer commented on #55
Per CRAN:

Not sure what that means. Will think on it.

[2020-06-25 16:18] thebioengineer commented on #55
Alright, I thought about it, and added this things:
- an internet connectivity check .onload and periodically throughout the package.
- updated how "bad" github calls are made (unlikely to happen since the user has no control on these, but CYA 🤷 )
- in the user facing functions that require internet/API calls, now all have a check at teh beginning and will have the function return NULL with a mess

[2020-06-26 11:55] thebioengineer commented on #55
https://cran.r-project.org/web/packages/tidytuesdayR/index.html

🥳🥳

[2020-06-26 11:56] thebioengineer commented on #55
Now to tag and merge the branch!

[2020-06-26 15:01] thebioengineer commented on #55
We may be on CRAN, but apparently there is an issue with solaris? Anyone know how to debug?

https://cran.r-project.org/web/checks/check_results_tidytuesdayR.html

[2020-06-26 17:36] thebioengineer opened #60 "Solaris CRAN Failure"
We may be on CRAN, but apparently there is an issue with solaris? Anyone know how to debug?

https://cran.r-project.org/web/checks/check_results_tidytuesdayR.html

Moving to close #55

[2020-06-26 17:36] #55 closed

[2020-06-26 17:40] thebioengineer commented on #60
Based on some light investigation, the issue might actually be in the github_sha function (only place I actively use `lapply()` in the whole package 🤯 )

[2020-07-08 07:12] thebioengineer commented on #60
Sent request to CRAN team that the error is acceptable due to it being a) unlikely and b) we have resolved it on our end outside of the package so it shouldn't be a problem. Answer was:

So basically need to push out update to CRAN with solution in #62

[2020-07-10 15:17] davidski commented on #39
Referencing https://twitter.com/dseverski/status/1281604161922990080, while this was very much 😜 in spirit, there's a legitimate point that having new users work with `html_notebook` as their default experience (which is what RStudio's out-of-the-box new Rmd template promotes) is a better starting point. The auto generation on save, embedding of code, and avoiding having to manually knit are nice

[2020-07-10 17:52] delabj commented on #39
Would it be worth creating an argument/global option for the output type? I'm partial to `github_document()` as many users already post  their code/folder to a github repo?

Obviously, a user can adjust the result by editing the output type.

[2020-07-11 08:20] thebioengineer commented on #60
Confirmed resolved in most recent release

[2020-07-11 08:20] #60 closed

[2020-07-21 21:57] thebioengineer commented on #39
per difficulty [here](https://www.youtube.com/watch?v=E2amEz_upzU&feature=youtu.be) in @dgrtwo's screencast- when a file exists already, see if we can open the file rather than just silently doing nothing.

[2020-07-22 04:56] statkclee opened #64 "`tt_load()` invalid multibyte string error"
I could not figure out " invalid multibyte string" error.

[code]

<sup>Created on 2020-07-22 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-07-22 05:20] thebioengineer commented on #64
That is very strange - the encoding shouldn't matter in this release. Do you get the same error with `gdpr_text <- readr::read_tsv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-04-21/gdpr_text.tsv')
` ?

[2020-07-22 06:26] thebioengineer commented on #64
if that does not work, could you try the dev version of the package with your same code?

 `remotes::install_github("thebioengineer/tidytuesdayR@dev")`

[2020-07-22 23:55] statkclee commented on #64
This first one is working as below.

[code]

<sup>Created on 2020-07-23 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-07-22 23:56] statkclee commented on #64
But the second one still has the same problem.

[code]

<sup>Created on 2020-07-23 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-07-24 00:30] thebioengineer commented on #64
Thanks for checking that out - the second example you gave is not an error from tidytuesdayR, but from you not having readr loaded into your namespace - could you try with just `tt_load("2020-04-21", local = "latin1")`? or `tt_load("2020-04-21", local = readr::locale(encoding = "latin1"))`

[2020-07-25 17:10] chuckleong21 commented on #64
Hi, @thebioengineer . The issue is not with file encoding but with the **NA value** returned from `tt_data_type.csv` file in static folder inside TidyTuesday's repo. As you can see below:

[code]

And in `tt_data_type.csv`:
|Week|Date|year|data_files|data_type|delim|
|---|---|---|---|---|---|
|17|2020-04-21|2020|gpdr_text.tsv|tsv|NA|

`read_delim()` does not recognize this for the delim argument,

[2020-07-25 21:59] thebioengineer commented on #64
Thanks for pointing that out, @chuckleong21 - I hadn't noticed that. @jthomasmock - I'll open a PR to fix those records ASAP. I'll also look into adding more "flexibility" to tidytuesdayR

[2020-07-26 12:16] jrosen48 opened #65 "Issues with using {tidytuesdayR} on RStudio Cloud?"
Hi all, I've had an issue using (the fantastic) {tidytuesdayR} package on RStudio Cloud. In short, I am running into a warning (that is indicating that no output is returned): "No Internet Connection was found". I posted on RStudio Community, but haven't heard anything back just yet: https://community.rstudio.com/t/using-tidytuesdayr-on-rstudio-cloud-no-internet-connection-was-found/74322

[2020-07-26 15:32] jthomasmock commented on #65
I can't see that specific post for some reason!

[2020-07-26 16:50] jrosen48 commented on #65
ah I lost the last '2' at the end of the URL - thanks for checking this!

[2020-07-26 16:50] jrosen48 commented on #65
updated now

[2020-07-26 21:40] thebioengineer commented on #65
Thanks for the comment - it looks like rstudio cloud is protecting you from my potential "bug" - on loading tidytuesdayR it does a quick check against the github API to make sure you have connectivity ability - specifically it is an internal function called `check_connectivity()`. It looks like it doesn't like my mal-formed url (that for some reason had yet to cause any other locations issues!)
 I

[2020-07-27 18:33] thebioengineer commented on #65
@jrosen48 - could you install the dev branch and test it out? It now works on my rstudio cloud instance -

`remotes::install_github("thebioengineer/tidytuesdayR@dev")`

[2020-07-27 22:40] jrosen48 commented on #65
worked like a charm!

Thank you! Excited to use this with students who are new to using R.

[2020-07-29 00:53] francisbarton opened #69 "Make tt_download a valid user command"
Rather than have the week's data downloaded and directly converted into an object by `tt_load()`, I'd like the option to simply download all the files for the latest week to my current working directory, so that I can import them myself and have the actual files there for future reference.

(I don't want to clone the TT repository)

`tt_load` obviously does download the files, in order to import t

[2020-07-29 02:16] #65 closed

[2020-07-29 14:54] thebioengineer commented on #69
Hey @francisbarton - Ah, thanks for pointing out my documentation for that function is incorrect! It expects to get a `tt` object, which is output from the `tt_load_gh` function.

Technically we do not "download" the files, in the "they are copied from the internet and saved in a temp dir" sense. I query the github API and are given a `raw` vector representation of the files that are then parsed b

[2020-07-29 21:53] francisbarton commented on #69
Very interesting @thebioengineer , thanks. Didn't realise it was a github API query, that makes sense. I can certainly cope with just using `tt_load()` or downloading/reading the data using the direct URLs given in the readme each week.
Feel free to close.

[2020-08-06 23:19] bbgatch opened #71 "Error with tt_load()."
Hello,

I just installed `tidytuesdayR` for the first time and tried running `tt_load()` and I get the following error:
[code]

I tried both the date string and week number:

Let me know if I can provide other information to help solve this.

I'm not sure if I should be posting here with this issue or somewhere else, please let me know if I should post elsewhere. I tried reinstalling/updating R, R

[2020-08-06 23:27] thebioengineer commented on #71
Hi @bbgatch - thanks for bringing this up. That's a very strange bug indeed! Apologies. This is a check to ensure we don't keep hitting against the github API when we no longer have any requests left. Could you try executing `tidytuesdayR:::rate_limit_update()` then `tidytuesdayR:::rate_limit_check()`?

[2020-08-07 23:01] bbgatch commented on #71
Hello! Sure thing, I tried those and got another strange error and then the same error:

![image](https://user-images.githubusercontent.com/10412365/89694950-53e4d100-d8e0-11ea-8d2d-6cbb1157755b.png)

Perhaps something is messed up with my machine if I'm the only one seeing this.

[2020-08-07 23:05] thebioengineer commented on #71
Try using three `:` for the `rate_limit update()` step. It is an internal function to the package.

[code]

[2020-08-08 00:45] bbgatch commented on #71
Ahh ok cool! I've never heard of that, good to know. The `update` doesn't return anything and the `check` gives me the same error.
![image](https://user-images.githubusercontent.com/10412365/89698375-d8d6e700-d8ee-11ea-9509-efe6101dbe86.png)

[2020-10-21 18:50] asbates commented on #71
I'm having the same issue.

If it helps, I took a quick look and it seems like it might be an authentication problem. In the`GET` call [here](https://github.com/thebioengineer/tidytuesdayR/blob/51dfba6f4c33c6410473204b7893184b5e7b2b18/R/github_api.R#L395), I get a 401 error with "Bad credentials" message. So maybe my GitHub PAT is expired or something? With the `GET` response not as expected, that

[2020-10-21 20:36] thebioengineer commented on #71
Thanks for sharing - I'll be sure to investigate this and have it "fail" more gracefully when the authentication fails! That is a good catch!

[2020-10-24 19:59] asbates commented on #71
FYI, I've updated my GitHub PAT and everything is working fine now.

[2020-10-27 15:04] thebioengineer commented on #71
Great, thanks for confirming that! I'll need to add in some code to check to see if the returned error github saying it is a malformed token, etc. but that really helps clarify the issue 👍

[2021-01-13 19:57] arthurgailes opened #76 "formal argument "save_as" matched by multiple actual arguments"
Hello,

Thanks for your work on this package; it's extremely helpful.

The following code produces an errror:

[code]

My confusion arises from the use_tidytemplate help doc, which states the ... parameter passes arguments to use_template.

Regards.

[2021-02-10 07:01] jennybc opened #77 "usethis failing revdep check at CRAN"
We're trying to do a patch release of usethis and tidytuesdayR failed the revdep check for them (not in our pre-checks, though). This looks like ... an intermittent internet problem to me? It seems unlikely to have anything to do with usethis. Do you concur?

https://win-builder.r-project.org/incoming_pretest/usethis_2.0.1_20210210_003949/reverseDependencies/changes.txt

Have you considered using

[2021-02-10 13:22] hadley commented on #77
It looks like `check_api()` is supposed to do this but there's a bug in the logic somewhere that's leading to `Error: argument is of length zero`

[2021-02-10 13:24] hadley opened #78 "Use the gh package?"
I'd highly recommend switching to the gh package since it takes care of many detail that you'll otherwise need to do yourself. Most importantly, we're gradually moving away from storing the `GITHUB_PAT` in an environment variable, and instead storing it in a secure credential store: https://www.tidyverse.org/blog/2020/12/usethis-2-0-0/#personal-access-tokens-pats.

[2021-02-10 13:37] hadley opened #79 "Suggestions for testing"
Using custom wrappers makes it harder for folks to drop in and understand what's happening in the tests, because you have to trace through multiple calls in order to figure out exactly what the local setup looks like.  Instead, I think you should define a few helpers that you then copy and paste in to each test that use it (see https://mtlynch.io/good-developers-bad-tests/ for a good discussion of

[2021-02-10 15:44] thebioengineer commented on #77
Hi @jennybc and @hadley -

Thanks for the review and notice. My dependency on {usethis} is to make it so users could access a template. Therefore I highly doubt the failure is due to {usethis}.

Yes, `check_api()` should be confirming that there are still at least N available queries available, to prevent errors in tests when the rate limit was met. This wasn't specifically to get around CRAN's is

[2021-02-10 15:52] thebioengineer commented on #78
Thanks for the heads up. I'll look into that more closely. I had written the functions and released the package before learning about {gh}, but with the new process it definitely makes sense to offload the work to there.

[2021-02-10 16:04] jennybc commented on #77
usethis went through regardless, so that's good. But you might want to revise this testing strategy, so it doesn't crop up again  for tidytuesdayR or one of its dependencies. This sort of thing means the package in question can't flow through the CRAN robot.

[2021-02-10 16:56] thebioengineer commented on #77
I will be updating for sure - I think what happened is that the 502 error created a weird bug in the logic where then it cleared out the value I used to check that the rate limit has not been met, so then it returned an NA or NULL, which caused the `argument of length zero` issue. I will be adjusting based on feedback from Hadley to use gh.

[2021-04-02 17:41] RaoOfPhysics opened #81 "Package doesn’t work with {renv}"
Hi @thebioengineer,

Thanks for a really useful package! I played around with it a bit before setting out to use it in a dedicated `.Rproj` for Tidy Tuesday. However, I came across an error when attempting to use it with {renv}. The steps to reproduce it are as follows.

1. Launch Rstudio and create a new Project.
2. Under “Create New Project”, select `Use renv with this project`.
3. Run `install.

[2021-04-29 06:18] mgirlich opened #82 "Partial match `data_file`"
The function `tt_load()` produces partial matches:

[code]

I recommend using stricter options and environment variables

[code]

[2021-05-24 16:34] Agasax commented on #71
Hi, any news on this? I'm having the same issue, updated my GItHub PAT to no avail.

[2021-05-24 17:42] thebioengineer commented on #71
Thanks for bringing this up. The current plan is to update tidytuesdayR to rely on the gh package and offload the github api interfacing to that package. as for now, could you a) post the error b) post the results of the debugging code I posted?

[2021-05-24 17:46] Agasax commented on #71
Yes, I'm getting the exact same as reported above:

[code]

<sup>Created on 2021-05-24 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-05-24 18:36] thebioengineer commented on #71
Intersting. Could you try the following and post the results? This should force there to be a value

[code]

[2021-05-24 18:38] Agasax commented on #71
It does:

[code]

<sup>Created on 2021-05-24 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-05-24 18:43] thebioengineer commented on #71
Great. now lets see what happens when we send a query to github:

[code]

[2021-05-24 18:57] Agasax commented on #71
[code]

[2021-05-24 19:06] thebioengineer commented on #71
Okay, so it looks like your PAT is incorrect. Check your locally stored PAT via `tidytuesdayR:::github_pat()` against what you expect. If its not, update the githup pat in your .Renviron

[2021-05-26 07:03] Agasax commented on #71
You are absolutely right, sorry about this. I thought it was due to a bug since it was the same error others had been getting.
Thanks for the help!

[2021-09-07 04:57] jenrichmond commented on #39
i've just discovered the tidy template and it is a great way to get beginners going with Tidy Tuesday- thanks! I am having an issue with knitting though. To get the document to knit, I need to change the output from html_output to html_document. I must be doing something wrong?? thanks, Jen

![Screen Shot 2021-09-07 at 2 56 30 pm](https://user-images.githubusercontent.com/40267093/132286623-b34132

[2021-09-07 12:48] delabj commented on #39
@jenrichmond I think this is correct.

I would maybe submit this as a seperate issue, but it looks like pull request #80 has this fix, so we'd just need that to get merged.

[2021-09-09 01:57] jenrichmond opened #84 "knit problem with Tidy template"
i've just discovered the tidy template and it is a great way to get beginners going with Tidy Tuesday- thanks! I am having an issue with knitting though. To get the document to knit, I need to change the output from html_output to html_document.

thanks, Jen

![knit](https://user-images.githubusercontent.com/40267093/132609471-3fea2f3c-d4ac-4b37-842b-4ddecc7e5dfd.png)

[2021-09-09 04:36] thebioengineer commented on #84
Hi @jenrichmond - thanks for bringing this up. I'll aim to get a fix out to CRAN soon!

[2021-09-13 14:53] thebioengineer commented on #76
yeah, sorry for the confusion. You can use the `name` arugment to set the name you want to save the template as. I will work on making this clearer.

Also, sorry for the delay in response!

[2021-10-16 20:50] jennybc commented on #77
Hello again. The same thing just happened again with the usethis 2.1.0 submission. It's hopefully not a huge deal, but it does keep my package from going through the robot. And every time one invites unnecessary human intervention at CRAN, it's not a great day.

I will file this away as a possible "community service" project for one of us to maybe pitch in on. I'm not promising anything, but would

[2021-10-16 21:01] thebioengineer commented on #77
Hi Jenny - Apologies for not getting on this. Its been a busy year and not had the bandwidth to do an overhaul needed to address everything.

I would definitely accept any help people are willing to provide. The package came out of the goal to help people, not make your life harder!!

[2021-12-05 22:11] iago-pssjd opened #85 "Improving a test in `tidytuesdayR:::tt_check_date.year`"
Currently, one gets
[code]
since there are data for 46 weeks, which are not continuous, since the next after the 44 is the 48 (table below). Then, this error could be avoided modifying the check `if (week > length(tt_folders$week_desc))` in `tidytuesdayR:::tt_check_date.year`

[code]

[2022-01-23 19:50] thebioengineer commented on #82
this was merged in and resolved. closing  now.

[2022-01-23 19:50] #82 closed

[2022-02-03 04:59] Sdbock opened #88 "Parsing error when loading data with tt_load()?"
When attempting to load the data from Feb 1 (within the Rmarkdown Tidy Tuesday Template), it starts to download the files, but then stops and gives a parsing error. Is there an issue with one of the file names?

`tt <- tt_load("2022-02-01")`

--- Compiling #TidyTuesday Information for 2022-02-01 ----
--- There are 3 files available ---
--- Starting Download ---

	Downloading file 1 of 3: `breed_tr

[2022-02-03 05:37] thebioengineer commented on #88
Thanks for bringing this to my attention. I'll investigate and see what is going on!

[2022-05-14 22:40] rocarvaj commented on #88
Hello! Any news on this issue?
I just installed tidytuesdayR and tried to load this week's data with:

[code]
And I'm getting the same error:

[code]

Thanks!

[2022-05-15 23:15] thebioengineer commented on #88
Hey, sorry, this is because there was a transcription error in the tidytuesday repository. As you can see, it said it was trying to download `nyt_full.csv`, which does not exist, but `nyt_full.tsv` does. This is based on [tt_data_type.csv](https://github.com/rfordatascience/tidytuesday/edit/master/static/tt_data_type.csv), which is in the tidytuesday repo. I've submitted a bug fix

[2022-05-15 23:18] thebioengineer commented on #85
This appears to work, now. Try updating to the latest tidytuesday and let me know if it is still broken for you!

[2022-05-15 23:18] #85 closed

[2022-05-15 23:20] thebioengineer commented on #84
This is fixed in the latest CRAN release. Thanks for bring it up!

[2022-05-15 23:20] #84 closed

[2022-05-15 23:23] #39 closed

[2022-05-15 23:24] #64 closed

[2022-05-15 23:25] #69 closed

[2022-05-16 13:57] rocarvaj commented on #88
Thanks!
Shame on me for not investigating a little where was the error coming from.